@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gibson";
  src: url("/Font/Gibson/Gibson.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-SemiBold";
  src: url("/Font/Gibson/Gibson-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-Bold";
  src: url("/Font/Gibson/Gibson-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-Italic";
  src: url("/Font/Gibson/Gibson-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-Bold";
  src: url("/Font/Gibson/Gibson-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-Light";
  src: url("/Font/Gibson/Gibson-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gibson-Regular";
  src: url("/Font/Gibson/Gibson-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DairyMilkFont-Medium";
  src: url("/Font/DairyMilkFont-Medium.otf/DairyMilkFont-Medium.otf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
